@use 'styles' as ds;

.BaseLayout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: ds.$font-family-default, ds.$font-family-inter;
  color: ds.$color-secondary-100;
  background-color: ds.$color-secondary-05;
}
