$primary-100: #002d68;
$primary-90: #003e91;
$primary-80: #004fb9;
$primary-70: #0e69e2;
$primary-60: #2482ff;
$primary-50: #4b98ff;
$primary-40: #73afff;
$primary-30: #a1c7f9;
$primary-20: #d1e3fc;
$primary-10: #e9f2ff;

$secondary-100: #0e0f12;
$secondary-80: #383e49;
$secondary-70: #616a7d;
$secondary-60: #8590a8;
$secondary-50: #a3b0c9;
$secondary-40: #bdc9e0;
$secondary-30: #d4ddf0;
$secondary-20: #e6edfa;
$secondary-10: #f5f8ff;
$secondary-05: #fafbfc;
$secondary-0: #fff;

$accent-purple-90: #2d2886;
$accent-purple-80: #3c36a3;
$accent-purple-70: #4c46c1;
$accent-purple-60: #5f58de;
$accent-purple-50: #736cfb;
$accent-purple-40: #9e99ff;
$accent-purple-30: #c7c5ff;
$accent-purple-20: #f1f0ff;

$accent-orange-90: #964c02;
$accent-orange-80: #c86603;
$accent-orange-70: #fb7f03;
$accent-orange-60: #fc9935;
$accent-orange-50: #fdb268;
$accent-orange-40: #fecc9a;
$accent-orange-30: #fee5cd;
$accent-orange-20: #fff6ee;

$accent-green-90: #0e603d;
$accent-green-80: #15925d;
$accent-green-70: #1dc37d;
$accent-green-60: #37e29a;
$accent-green-50: #69e9b3;
$accent-green-40: #9bf0cc;
$accent-green-30: #cdf8e6;
$accent-green-20: #eefdf7;

$accent-red-90: #b02b0c;
$accent-red-80: #db3510;
$accent-red-70: #f04d29;
$accent-red-60: #f37154;
$accent-red-50: #f6947e;
$accent-red-40: #f9b8a9;
$accent-red-30: #fcdbd4;
$accent-red-20: #fef3f1;

$accent-blue-90: #0065b0;
$accent-blue-80: #0080e0;
$accent-blue-70: #1099ff;
$accent-blue-60: #40aeff;
$accent-blue-50: #70c2ff;
$accent-blue-40: #a0d6ff;
$accent-blue-30: #cfebff;
$accent-blue-20: #eff8ff;

$system-bad-90: #b02b0c;
$system-bad-70: #f04d29;
$system-bad-40: #f9b8a9;
$system-bad-20: #feefec;

$system-warning-90: #964c02;
$system-warning-70: #fb7f03;
$system-warning-40: #fecc9a;
$system-warning-20: #fef4e9;

$system-good-90: #0e603d;
$system-good-70: #1dc37d;
$system-good-40: #9bf0cc;
$system-good-20: #e9fcf4;

$system-info-90: #0065b0;
$system-info-70: #1099ff;
$system-info-40: #a0d6ff;
$system-info-20: #eff8ff;

$system-neutral-90: #2b323f;
$system-neutral-70: #616a7d;
$system-neutral-40: #bdc9e0;
$system-neutral-20: #e6edfa;
