/* stylelint-disable */
.BarDiagram {
  :global(.recharts-bar-rectangle) {
    transition: opacity 0.5s;
    will-change: opacity;
  }
  :global(.recharts-bar-rectangles):hover :global(.recharts-bar-rectangle) {
    opacity: 0.6;
  }

  :global(.recharts-bar-rectangles) :global(.recharts-bar-rectangle):hover {
    opacity: 1;
  }

  :global(.recharts-wrapper) {
    max-width: var(--chart-width, 556px);
    max-height: var(--chart-width, 140px);
    width: 100% !important;
    height: 100% !important;
  }
}
