@use 'styles' as ds;

.CardChart {
  background-color: ds.$color-secondary-0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px ds.$color-secondary-20;

  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px 20px;
    box-shadow: 0 1px 0 0 ds.$color-secondary-20;
  }

  &__title {
    @include ds.font-body-l-semibold;
  }

  &_spaced {
    .CardChart__content {
      padding: 16px 20px 20px;
    }
  }
}
